.is-sticky {
  position: sticky;

  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}

.header {
  top: 0;
  z-index: 100;
}
